<div id="landing">
  <div class="row content">
    <div class="small-12 columns">
      <h1 class="animexit">Hello there</h1>
      <h4 class="first">My name is Cristobal Gra&ntilde;a, and I'm a</h4>
      <h4 class="second"><span class="white">&rarr;</span><span class="changetext"></span><span class="white">&larr;</span></h4>
    </div>
  </div>
</div>
<div class="column row bottom center expanded responsivehide" id="scrollanim">
  <a href="#/about"><div class="mouse center link">
    <div class="scrollwheel responsivehide">
    </div>
  </div></a>
</div>
<div id="responsivecontainer" class="responsive">
  <div id="whosinresponsive">
    <div class="work">
      <img class="animout" src="./media/whosin.svg">
      <div class="overlay">
        <p class="corner animout">01</p>
        <div class="content animout">
          <h3>Who’s in? - Raspberry Pi</h3>
          <p>Design and development, iOS App</p>
          <a href="https://github.com/cristobalwee/whosin" target="_blank"><button>check it out</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="responsive" data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" class="homelink"><img src="./media/Logo.svg"></a>
    </div>
    <div class="title-bar-right">
      <button type="button" ng-click="toggleMenu()" data-toggle><img src="./media/menuicon.svg"></button>
    </div>
  </div>
</div>
<div class="menu responsive">
  <div class="header">
    <a href="javascript:void(0)" ng-click="closeMenu()"><img src="./media/closeicon.svg"></a>
  </div>
  <div class="content">
    <a href="#/about"><h3>About</h3></a>
    <a href="#/whosin"><h3>Works</h3></a>
    <a href="#/contact"><h3>Contact</h3></a>
  </div>
  <div class="footer">
    <a href="https://www.linkedin.com/in/cristobal-grana-samanez" target="_blank"><img src="./media/linkedinwhite.svg"></a>&nbsp;&nbsp;
    <a href="https://github.com/cristobalwee" target="_blank"><img src="./media/githubwhite.svg"></a>&nbsp;&nbsp;
    <a href="https://www.behance.net/cristobalw918d" target="_blank"><img id="behance" src="./media/behancewhite.svg"></a>
  </div>
</div>
