<div id="landing">
  <div class="row content">
    <div class="small-12 columns">
      <h1 class="animexit">Hello there</h1>
      <h4 class="first">My name is Cristobal Gra&ntilde;a, and I'm a</h4>
      <h4 class="second"><span class="white">&rarr;</span><span class="changetext"></span><span class="white">&larr;</span></h4>
    </div>
  </div>
</div>
<div class="column row bottom center expanded responsivehide" id="scrollanim">
  <a href="#/about"><div class="mouse center link">
    <div class="scrollwheel responsivehide">
    </div>
  </div></a>
</div>
<div class="menu responsive">
  <div class="header">
    <a href="javascript:void(0)" ng-click="closeMenu()"><img src="./media/closeicon.svg"></a>
  </div>
  <div class="content">
    <a href="#/about"><h3>About</h3></a>
    <a href="#/whosin"><h3>Works</h3></a>
    <a href="#/contact"><h3>Contact</h3></a>
  </div>
  <div class="footer">
    <a href="https://www.linkedin.com/in/cristobal-grana-samanez" target="_blank"><img src="./media/linkedinwhite.svg"></a>&nbsp;&nbsp;
    <a href="https://github.com/cristobalwee" target="_blank"><img src="./media/githubwhite.svg"></a>&nbsp;&nbsp;
    <a href="https://www.behance.net/cristobalw918d" target="_blank"><img id="behance" src="./media/behancewhite.svg"></a>
  </div>
</div>
<div id="responsivecontainer" class="responsive">
  <div class="responsive" data-sticky-container>
    <div id="navbar" class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left">
        <a href="#/" class="homelink">
          <svg viewBox="0 0 65 66" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
              <title>Logo</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard-2" transform="translate(-56.000000, -49.000000)">
                      <g id="Top-bar" transform="translate(53.000000, 34.000000)">
                          <g id="Logo">
                              <text id="C" font-family="Jaapokki-Regular, Jaapokki" font-size="56.25" font-weight="normal" letter-spacing="0.374999709" fill="#000000">
                                  <tspan x="0" y="56">C</tspan>
                              </text>
                              <text id="G" transform="translate(46.529766, 54.349215) rotate(-180.000000) translate(-46.529766, -54.349215) " font-family="Jaapokki-Regular, Jaapokki" font-size="56.25" font-weight="normal" letter-spacing="0.374999709" fill="#000000">
                                  <tspan x="22.1057663" y="67.8492146">G</tspan>
                              </text>
                              <path d="M23.1033709,38.7449736 L37.5115647,38.5282581 L34.8641961,44.613265 C34.8641961,44.613265 34.6771414,44.7716639 34.5573726,44.8605178 C34.2961036,45.0543478 33.7226102,45.4352247 31.64741,46.7737102 C28.620914,48.7257729 25.8166032,48.6326932 25.8166032,48.6326932 L23.1033709,38.7449736 Z" id="Rectangle-2" fill="#FFFFFF"></path>
                          </g>
                      </g>
                  </g>
              </g>
          </svg>
        </a>
      </div>
      <div class="title-bar-right">
        <button type="button" ng-click="toggleMenu()" data-toggle><img src="./media/menuicon.svg"></button>
      </div>
    </div>
  </div>
  <div id="whosinresponsive">
    <div class="work">
      <img class="animout" src="./media/whosin.svg">
      <div class="overlay">
        <p class="corner animout">01</p>
        <div class="content animout">
          <h3>Who’s in? - Raspberry Pi</h3>
          <p>Design and development, iOS App</p>
          <a href="https://github.com/cristobalwee/whosin" target="_blank"><button>check it out</button></a>
        </div>
      </div>
    </div>
  </div>
  <div id="foodfulresponsive">
    <div class="work">
      <img class="animout" src="./media/foodful.svg">
      <div class="overlay">
        <p class="corner animout">02</p>
        <div class="content animout">
          <h3>Foodful</h3>
          <p>Design lead + frontend web development, website</p>
          <a href="https://github.com/cristobalwee/foodful" target="_blank"><button>check it out</button></a>
        </div>
      </div>
    </div>
  </div>
  <div id="lamaglamaresponsive">
    <div class="work">
      <svg viewBox="0 0 156 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
          <title>LamaGlama</title>
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-weight="normal" font-family="RobotoSlab-Regular, Roboto Slab" letter-spacing="-1.54999888" font-size="30">
              <g id="Launch" transform="translate(-45.000000, -44.000000)" fill="#FFFFFF">
                  <text id="LamaGlama">
                      <tspan x="44.4188426" y="67">LamaGlama</tspan>
                  </text>
              </g>
          </g>
      </svg>
      <div class="overlay">
        <p class="corner animout">03</p>
        <div class="content animout">
          <h3>LamaGlama</h3>
          <p>Design and development, website</p>
          <a href="https://github.com/cristobalwee/LamaGlama" target="_blank"><button>check it out</button></a>
        </div>
      </div>
    </div>
  </div>
  <div id="sporcleresponsive">
    <div class="work">
      <img class="animout" src="./media/sporcle.png">
      <div class="overlay">
        <p class="corner animout">04</p>
        <div class="content animout">
          <h3>Illini Sporcle official website</h3>
          <p>Design and development, website</p>
          <a href="http://illinisporcle.org" target="_blank"><button>check it out</button></a>
        </div>
      </div>
    </div>
  </div>
  <div id="contactresponsive">
    <form class="content">
      <h3 class="animout">Let's talk</h3>
      <p class="animout">Name</p>
      <input class="animout" type="text" ng-model="name">
      <p class="animout">Email</p>
      <input class="animout" type="email" ng-model="email">
      <p class="animout" >Comments</p>
      <textarea class="animout" name="comments" ng-model="comments" cols="40" rows="2"></textarea>
      <button class="animout" type="submit" ng-click="send()">Send</button><br><a href="./media/resumeblack.pdf" target="_blank"><button class="animout">Resume</button></a>
    </form>
  </div>
</div>
