<div data-sticky-container>
  <div class="title-bar noanim" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-left">
      <a href="#/" class="homelink"><img src="./media/Logo.svg"></a>
    </div>
    <div class="title-bar-right">
      <button type="button" ng-click="toggleMenu()" data-toggle><img src="./media/menuicon.svg"></button>
    </div>
  </div>
</div>
<div class="menu">
  <div class="header">
    <a href="javascript:void(0)" ng-click="closeMenu()"><img src="./media/closeicon.svg"></a>
  </div>
  <div class="content">
    <a href="#/about"><h3>About</h3></a>
    <a href="#/whosin"><h3>Works</h3></a>
    <a href="#/contact"><h3>Contact</h3></a>
  </div>
  <div class="footer">
    <a href="https://www.linkedin.com/in/cristobal-grana-samanez" target="_blank"><img src="./media/linkedinwhite.svg"></a>&nbsp;&nbsp;
    <a href="https://github.com/cristobalwee" target="_blank"><img src="./media/githubwhite.svg"></a>&nbsp;&nbsp;
    <a href="https://www.behance.net/cristobalw918d" target="_blank"><img id="behance" src="./media/behancewhite.svg"></a>
  </div>
</div>
<div id="whosin">
  <div class="work">
    <img class="animout" src="./media/whosin.svg">
    <div class="overlay">
      <p class="corner animout">01</p>
      <div class="content animout">
        <h3>Who’s in? - Raspberry Pi</h3>
        <p>Design and development, iOS App</p>
        <a href="https://github.com/cristobalwee/whosin" target="_blank"><button>check it out</button></a>
      </div>
    </div>
  </div>
</div>
<div class="indicator content noanim">
  <a href="#/about"><p>about</p></a>
  <a href="#/whosin"><p class="currentposition">works</p></a>
  <div class="worksposition">
    <img class="currentline" src="./media/Line.svg"><br>
    <a href="#/foodful"><img src="./media/Line.svg"></a><br>
    <a href="#/lamaglama"><img src="./media/Line.svg"></a><br>
    <a href="#/illinisporcle"><img src="./media/Line.svg"></a>
  </div>
  <a href="#/contact"><p>contact</p></a>
</div>
